.myElement{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition{
    transition: 2s;
}

.greenBg{
    background-color: green;
}

.yellowBg{
    background-color: yellow;
}